<br>
<br>
<br>
<br>
<div class="container justify-content-center text-center header my-5 p-5">
  <div class="row align-middle my-5">
    <div class="col">
      <h1 class="display-1">O nas!</h1>
      <p class="h4 p-5">
        Beauty & SPA – Fabryka Urody powstała z myślą o klientach, którzy cenią sobie najwyższy poziom usług, fachowość i profesjonalizm oraz bezpieczne warunki higieniczne. A jednocześnie marzą o chwili relaksu i odprężenia od codziennych trosk.
        Zapraszamy Państwa do miejsca, gdzie kwalifikacje ekspertów z dziedziny medycyny estetycznej i kosmetologii wspieramy najnowszymi technologiami. Oferujemy pełen wachlarz usług z zakresu medycyny estetycznej i kosmetologii, sukcesywnie wzbogacając nasze portfolio o nowe i modne zabiegi.
      </p>
      <div class="row row-cols-4">
        <div class="col">
          <a routerLink="/zarejestruj"><button class="btn btn-outline-warning btn-lg m-1">Załóż konto</button></a>
        </div>
        <div class="col">
          <a routerLink="/zamow-wizyte"><button class="btn btn-outline-warning btn-lg m-1">Zamów wizytę</button></a>
        </div>
        <div class="col">
          <a routerLink="/zabiegi"><button class="btn btn-outline-warning btn-lg m-1">Sprawdź ofertę</button></a>
        </div>
        <div class="col">
          <a routerLink="/zabiegi"><button class="btn btn-outline-warning btn-lg m-1">Skontaktuj się z nami</button></a>
        </div>

      </div>
    </div>
  </div>
</div>
