<br>
<br>
<br>
<br>
<div class="container justify-content-center text-center header my-5 p-5">
  <div class="row align-middle my-5">
    <div class="col">
      <h1 class="display-1">O nas!</h1>
      <p class="h4 p-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec tortor commodo, eleifend massa ut,
        suscipit tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed
        dictum pretium tortor nec dignissim. Proin at est sagittis, ultrices augue vel, consectetur sem. Nullam sit amet
        felis egestas, pulvinar nulla quis, pretium leo. In hac habitasse platea dictumst. In molestie eleifend ante,
        venenatis tincidunt libero congue quis. Cras hendrerit sem magna, malesuada dictum justo lobortis ut. Nulla
        facilisi. Vivamus aliquet ullamcorper nibh vitae pulvinar.
      </p>
      <div class="row row-cols-4">
        <div class="col">
          <a routerLink="/zarejestruj">
            <button class="btn btn-outline-warning btn-lg m-1">Załóż konto</button>
          </a>
        </div>
        <div class="col">
          <a routerLink="/zamow-wizyte">
            <button class="btn btn-outline-warning btn-lg m-1">Zamów wizytę</button>
          </a>
        </div>
        <div class="col">
          <a routerLink="/zabiegi">
            <button class="btn btn-outline-warning btn-lg m-1">Sprawdź ofertę</button>
          </a>
        </div>
        <div class="col">
          <a routerLink="/zabiegi">
            <button class="btn btn-outline-warning btn-lg m-1">Skontaktuj się z nami</button>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
