<div id="app">
  <nav class="navbar navbar-expand navbar-dark">
    <a href="#" class="navbar-brand">
      <img class="img-thumbnails" src="/assets/images/logo.png" alt="logo"/>
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/" class="nav-link" routerLinkActive="active" routerLink="home">Strona główna</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLinkActive="active" routerLink="admin">Panel Admina</a>
      </li>
      <li class="nav-item">
        <a hr ef="/user" class="nav-link" routerLinkActive="active" *ngIf="isLoggedIn" routerLink="user">Panel Użytkownika</a>
      </li>
      <li class="nav-item">
        <a href="/zabiegi" class="nav-link" routerLinkActive="active" routerLink="zabiegi">Zabiegi</a>
      </li>
      <li class="nav-item">
        <a href="/o-nas" class="nav-link" routerLinkActive="active" routerLink="o-nas">O nas</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/zarejestruj" class="nav-link" routerLink="zarejestruj">Zarejestruj</a>
      </li>
      <li class="nav-item">
        <a href="/zaloguj" class="nav-link" routerLink="zaloguj">Zaloguj</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profil" class="nav-link" routerLinkActive="active" routerLink="profil">{{ email }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Wyloguj</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
