<br>
<br>
<br>
<br>
<div class="container justify-content-center text-center header my-5 p-5">
  <div class="row-cols-1">
    <div class="col">
      <h1 class="display-1">Zadbaj o siebie już teraz!</h1>
    </div>
    <div class="col m-3">
      <h3 class="m-3">Sprawdź naszą ofertę</h3>
      <a routerLink="/zarejestruj"><button class="btn btn-outline-warning btn-lg m-1">Załóż konto</button></a>
      <a routerLink="/zarejestruj"><button class="btn btn-outline-warning btn-lg m-1">Zamów wizytę</button></a>
      <a routerLink="/zabiegi"><button class="btn btn-outline-warning btn-lg m-1">Sprawdź ofertę</button></a>
    </div>
  </div>
</div>
