<div class="container justify-content-center">
  <div class="row mt-5">
    <div class="col">
      <div class="e-panel card">
        <a routerLink="/home">
          <button class="btn btn-outline-secondary m-2">
            <i class="fs-6 bi-arrow-left-square-fill"></i>
            <span class="px-3 h6">Powrót do strony głównej</span>
          </button>
        </a>
        <div class="card-body">
          <div class="card-title">
            <h5>Utwórz nową wizytę</h5>
          </div>
          <div class="card-body">
            <div class="py-1">
              <form *ngIf="!isLoggedIn"
                    name="form"
                    (ngSubmit)="f.form.valid && createVisit()"
                    #f="ngForm"
                    novalidate
              >
                Dane klienta:
                <div class="form-floating my-1">
                  <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    id="firstName"
                    placeholder="Podaj swoje imię"
                    [(ngModel)]="visit.client.firstName"
                    required
                    minlength="2"
                    maxlength="100"
                    #firstName="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && firstName.errors }"
                  />
                  <label for="firstName">Imię</label>
                  <div *ngIf="firstName.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="firstName.errors['required']">Imię jest wymagane.</div>
                    <div *ngIf="firstName.errors['minlength']">Imię musi zawierać od 2 do 100 znaków.
                    </div>
                    <div *ngIf="firstName.errors['maxlength']">Imię musi zawierać od 2 do 100 znaków.
                    </div>
                  </div>
                </div>
                <div class="form-floating my-1">
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    id="lastName"
                    placeholder="Podaj nazwisko"
                    [(ngModel)]="visit.client.lastName"
                    required
                    minlength="2"
                    maxlength="150"
                    #lastName="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && lastName.errors }"
                  />
                  <label for="lastName">Nazwisko</label>
                  <div class="invalid-feedback" *ngIf="lastName.errors && f.submitted">
                    <div *ngIf="lastName.errors['required']">Nazwisko jest wymagane.</div>
                    <div *ngIf="lastName.errors['minlength']">Nazwisko musi musi zawierać od 2 do 150
                      znaków.
                    </div>
                    <div *ngIf="lastName.errors['maxlength']">Nazwisko musi musi zawierać od 2 do 150
                      znaków.
                    </div>
                  </div>
                </div>
                <div class="form-floating my-1">
                  <input
                    type="text"
                    class="form-control"
                    name="phoneNumber"
                    id="phoneNumber"
                    placeholder="Podaj numer telefonu według schematu: +48111111111"
                    [(ngModel)]="visit.client.phoneNumber"
                    required
                    pattern="^\+\d{11}$"
                    #phoneNumber="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.errors }"
                  />
                  <label for="phoneNumber">Numer telefonu - schemat: +48111111111</label>
                  <div class="invalid-feedback" *ngIf="f.submitted && phoneNumber.errors">
                    <div *ngIf="phoneNumber.errors['required']">Numer telefonu jest wymagany.</div>
                    <div *ngIf="phoneNumber.errors['pattern']">Numer telefonu musi składać się ze znaku
                      '+' i 11 cyfr.
                    </div>
                  </div>
                </div>
                <div *ngIf="firstName.valid && lastName.valid && phoneNumber.valid">
                  <label for="category">Wybierz rodzaj zabiegu:</label>
                  <select class="form-select"
                          name="category"
                          id="category"
                          [(ngModel)]="category"
                          required
                          #cat="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && cat.errors }"
                          (ngModelChange)="categorySelectionChange()">
                    <option *ngFor="let treatmentCategory of categories"
                            [ngValue]="treatmentCategory">{{treatmentCategory.name}}</option>
                  </select>
                  <div *ngIf="cat.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="cat.errors['required']">Kategoria jest wymagana.</div>
                  </div>
                </div>
                <div *ngIf="category">
                  <label for="treatment">Wybierz zabieg:</label>
                  <select class="form-select"
                          name="treatment"
                          id="treatment"
                          [(ngModel)]="visit.treatment"
                          required
                          #treatment="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && treatment.errors }">
                    <option *ngFor="let treatment of treatments"
                            [ngValue]="treatment">{{treatment.name}}</option>
                  </select>
                  <div *ngIf="treatment.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="treatment.errors['required']">Kategoria jest wymagana.</div>
                  </div>
                </div>
                <div *ngIf="visit.treatment">
                  <div>
                    <label for="date"> Wybierz dzień wizyty:</label>
                    <input type="text"
                           autocomplete="off"
                           class="form-control"
                           matInput
                           ngxDaterangepickerMd
                           [isInvalidDate]="isInvalidDate"
                           [readonly]="true"
                           [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                           [autoApply]="true"
                           [singleDatePicker]="true"
                           [(ngModel)]="selectedDate"
                           [minDate]="minDate"
                           [maxDate]="maxDate"
                           name="date"
                           id="date"
                           placeholder="Wybierz datę"/>
                  </div>
                  <div>
                    <label for="time"> Wybierz godzinę wizyty:</label>
                    <input class="form-control"
                           [readOnly]="true"
                           [ngxTimepicker]="picker"
                           autocomplete="off"
                           id="time"
                           name="time"
                           [(ngModel)]="selectedTime"
                           [format]="24"
                           [min]="'09:00'"
                           [max]="'16:30'"
                           [hidden]=""
                           placeholder="Wybierz godzinę"
                           required>
                    <ngx-material-timepicker #picker [minutesGap]="15" [theme]="darkTheme"></ngx-material-timepicker>
                  </div>

                </div>
                <div class="row">
                  <div class="col d-flex justify-content-center p-2">
                    <button type="submit" class="btn btn-primary" [disabled]="!f.valid"><i class="bi bi-check-lg"></i>
                      Gotowe
                    </button>
                  </div>
                </div>
              </form>

              <form *ngIf="isLoggedIn"
                    name="form"
                    (ngSubmit)="f.form.valid && createVisit()"
                    #f="ngForm"
                    novalidate
              >
                <label for="category2">Wybierz rodzaj zabiegu:</label>
                <select class="form-select"
                        name="category2"
                        id="category2"
                        [(ngModel)]="category"
                        required
                        #cat="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && cat.errors }"
                        (ngModelChange)="categorySelectionChange()">
                  <option *ngFor="let treatmentCategory of categories"
                          [ngValue]="treatmentCategory">{{treatmentCategory.name}}</option>
                </select>
                <div *ngIf="cat.errors && f.submitted" class="invalid-feedback">
                  <div *ngIf="cat.errors['required']">Kategoria jest wymagana.</div>
                </div>
                <div *ngIf="category">
                  <label for="treatment2">Wybierz zabieg:</label>
                  <select class="form-select"
                          name="treatment2"
                          id="treatment2"
                          [(ngModel)]="visit.treatment"
                          required
                          #treatment="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && treatment.errors }">
                    <option *ngFor="let treatment of treatments"
                            [ngValue]="treatment">{{treatment.name}}</option>
                  </select>
                  <div *ngIf="treatment.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="treatment.errors['required']">Kategoria jest wymagana.</div>
                  </div>
                </div>
                <div *ngIf="visit.treatment">
                  <div>
                    <label for="date2"> Wybierz dzień wizyty:</label>
                    <input type="text"
                           autocomplete="off"
                           class="form-control"
                           matInput
                           ngxDaterangepickerMd
                           [readonly]="true"
                           [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                           [autoApply]="true"
                           [singleDatePicker]="true"
                           [(ngModel)]="selectedDate"
                           [minDate]="minDate"
                           [maxDate]="maxDate"
                           name="date2"
                           id="date2"
                           placeholder="Wybierz datę"/>
                  </div>
                  <div>
                    <label for="time2"> Wybierz godzinę wizyty:</label>
                    <input class="form-control"
                           [readOnly]="true"
                           [ngxTimepicker]="picker"
                           autocomplete="off"
                           id="time2"
                           name="time2"
                           [(ngModel)]="selectedTime"
                           [format]="24"
                           [min]="'09:00'"
                           [max]="'16:30'"
                           [hidden]=""
                           placeholder="Wybierz godzinę"
                           required>
                    <ngx-material-timepicker #picker [minutesGap]="15" [theme]="darkTheme"></ngx-material-timepicker>
                  </div>

                </div>
                <div class="row">
                  <div class="col d-flex justify-content-center p-2">
                    <button type="submit" class="btn btn-primary" [disabled]="!f.valid"><i class="bi bi-check-lg"></i>
                      Gotowe
                    </button>
                  </div>
                </div>
              </form>
              <div *ngIf="errorMessage" class="alert alert-danger m-2" role="alert">
                {{errorMessage}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="e-panel card ms-3">
        <div class="card-title p-2">
          <h2>Szczegóły wizyty</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0 fw-bold">Klient</p>
            </div>
            <div class="col-sm-9 text-center">
              <p class="text-muted mb-0">
                {{visit.client.firstName}} {{visit.client.lastName}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0 fw-bold">Kategoria</p>
            </div>
            <div class="col-sm-9 text-center">
              <p class="text-muted mb-0" *ngIf="category">{{category.name}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0 fw-bold">Zabieg</p>
            </div>
            <div class="col-sm-9 text-center">
              <p class="text-muted mb-0" *ngIf="visit.treatment">{{visit.treatment.name}}
                <span title="Czas trwania zabiegu" class="border p-1 bg-light">
              <i class="fs-5 bi-clock"></i>
                  {{durationToMinutes(visit.treatment)}} minut
            </span>
              </p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0 fw-bold">Data</p>
            </div>
            <div class="col-sm-9 text-center">
              <p class="text-muted mb-0" *ngIf="selectedDate">{{selectedDate.startDate.format('dddd, D MMMM YYYY')}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0 fw-bold">Czas</p>
            </div>
            <div class="col-sm-9 text-center">
              <p class="text-muted mb-0" *ngIf="selectedTime">{{selectedTime}}</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<button id="openModalButton" [hidden]="true" data-bs-toggle="modal" data-bs-target="#myModal" #openModalButton></button>
<div id="myModal" class="modal fade" role="dialog" tabindex="-1" (blur)="onModalClose()">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success"><i class="bi bi-calendar-check-fill"></i> Udało się umówić wizytę!</h5>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedDate && selectedTime">
        <p>Termin wizyty:</p>
        <p><i class="bi bi-calendar-event-fill"></i> {{selectedDate.startDate.format('dddd, D MMMM YYYY')}}</p>
        <p><i class="bi bi-clock-fill"></i> {{selectedTime}}</p>
      </div>
    </div>
  </div>
</div>
