<div class="row">
  <div class="e-panel card col-5">
    <a routerLink="/admin/wizyty">
      <button class="btn btn-outline-secondary m-2">
        <i class="fs-6 bi-arrow-left-square-fill"></i>
        <span class="px-3 h6">Powrót do listy</span>
      </button>
    </a>
    <div class="card-body">
      <div class="card-title">
        <h5>Utwórz nową wizytę</h5>
      </div>
      <div class="card-body">
        <div class="py-1">
          <form
            name="form"
            (ngSubmit)="f.form.valid && createVisit()"
            #f="ngForm"
            novalidate
          >
            <label for="client">Wybierz klienta:</label>
            <select class="form-select"
                    name="client"
                    id="client"
                    [(ngModel)]="visit.client"
                    required
                    #visitClient="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && visitClient.errors }">
              <option *ngFor="let visitClient of clients"
                      [ngValue]="visitClient">{{visitClient.fullName}}</option>
            </select>
            <div *ngIf="visitClient.errors && f.submitted" class="invalid-feedback">
              <div *ngIf="visitClient.errors['required']">Klient jest wymagany.</div>
            </div>
            <div *ngIf="visit.client">
              <label for="category">Wybierz rodzaj zabiegu:</label>
              <select class="form-select"
                      name="category"
                      id="category"
                      [(ngModel)]="category"
                      required
                      #cat="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && cat.errors }"
                      (ngModelChange)="categorySelectionChange()">
                <option *ngFor="let treatmentCategory of categories"
                        [ngValue]="treatmentCategory">{{treatmentCategory.name}}</option>
              </select>
              <div *ngIf="cat.errors && f.submitted" class="invalid-feedback">
                <div *ngIf="cat.errors['required']">Kategoria jest wymagana.</div>
              </div>
            </div>
            <div *ngIf="category">
              <label for="treatment">Wybierz zabieg:</label>
              <select class="form-select"
                      name="treatment"
                      id="treatment"
                      [(ngModel)]="visit.treatment"
                      required
                      #treatment="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && treatment.errors }">
                <option *ngFor="let treatment of treatments"
                        [ngValue]="treatment">{{treatment.name}}</option>
              </select>
              <div *ngIf="treatment.errors && f.submitted" class="invalid-feedback">
                <div *ngIf="treatment.errors['required']">Kategoria jest wymagana.</div>
              </div>
            </div>
            <div *ngIf="visit.treatment">
              <div>
                <label for="date"> Wybierz dzień wizyty:</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       matInput
                       ngxDaterangepickerMd
                       [readonly]="true"
                       [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                       [autoApply]="true"
                       [singleDatePicker]="true"
                       [(ngModel)]="selectedDate"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       name="date"
                       id="date"
                       placeholder="Wybierz datę"/>
              </div>
              <div>
                <label for="time"> Wybierz godzinę wizyty:</label>
                <input class="form-control"
                       [readOnly]="true"
                       [ngxTimepicker]="picker"
                       autocomplete="off"
                       id="time"
                       name="time"
                       [(ngModel)]="selectedTime"
                       [format]="24"
                       [min]="'09:00'"
                       [max]="'16:30'"
                       [hidden]=""
                       placeholder="Wybierz godzinę"
                       required>
                <ngx-material-timepicker #picker [minutesGap]="15" [theme]="darkTheme"></ngx-material-timepicker>
              </div>

            </div>
            <div class="row">
              <div class="col d-flex justify-content-center p-2">
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid"><i class="bi bi-check-lg"></i>
                  Gotowe
                </button>
              </div>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger m-2" role="alert">
              {{errorMessage}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="e-panel card col-3 ms-3">
    <div class="card-title p-2">
      <h2>Szczegóły wizyty</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 fw-bold">Klient</p>
        </div>
        <div class="col-sm-9 text-center">
          <p class="text-muted mb-0" *ngIf="visit.client">{{visit.client.fullName}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 fw-bold">Kategoria</p>
        </div>
        <div class="col-sm-9 text-center">
          <p class="text-muted mb-0" *ngIf="category">{{category.name}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 fw-bold">Zabieg</p>
        </div>
        <div class="col-sm-9 text-center">
          <p class="text-muted mb-0" *ngIf="visit.treatment">{{visit.treatment.name}}
            <span title="Czas trwania zabiegu" class="border p-1 bg-light">
              <i class="fs-5 bi-clock"></i>
              {{durationToMinutes(visit.treatment)}} minut
            </span>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 fw-bold">Data</p>
        </div>
        <div class="col-sm-9 text-center">
          <p class="text-muted mb-0" *ngIf="selectedDate">{{selectedDate.startDate.format('dddd, D MMMM YYYY')}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 fw-bold">Czas</p>
        </div>
        <div class="col-sm-9 text-center">
          <p class="text-muted mb-0" *ngIf="selectedTime">{{selectedTime}}</p>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<button id="openModalButton" [hidden]="true" data-bs-toggle="modal" data-bs-target="#myModal" #openModalButton></button>
<div id="myModal" class="modal fade" role="dialog" tabindex="-1" (blur)="reload()">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success"><i class="bi bi-calendar-check-fill"></i> Udało się umówić wizytę!</h5>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedDate && selectedTime">
        <p>Termin wizyty:</p>
        <p><i class="bi bi-calendar-event-fill"></i> {{selectedDate.startDate.format('dddd, D MMMM YYYY')}}</p>
        <p><i class="bi bi-clock-fill"></i> {{selectedTime}}</p>
      </div>
    </div>
  </div>
</div>
