<div class="e-panel card">
  <div class="card-body">
    <div class="e-table">
      <div class="table-responsive table-lg mt-3">
        <table class="table table-hover caption-top mb-5">
          <caption><h2>Lista klientów</h2>
            <button class="btn btn-success" type="button" data-bs-toggle="modal"
                    data-bs-target="#create-form-modal">
              <i class="fs-5 bi-person-plus-fill"></i> <span class="h5 px-2">Dodaj klienta</span>
            </button>
          </caption>
          <thead class="table-dark">
          <tr>
            <th class="max-width">Imię</th>
            <th>Nazwisko</th>
            <th>Numer telefonu</th>
            <th class="col-2">Akcje</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="
                      let client of clients | paginate: {
                                              itemsPerPage: pageSize,
                                              currentPage: page,
                                              totalItems: count }">
            <td class="text-nowrap align-middle">{{client.firstName}}</td>
            <td class="text-nowrap align-middle">{{client.lastName}}</td>
            <td class="text-nowrap align-middle">{{client.phoneNumber}}</td>
            <td class="text-center align-middle">
              <div class="btn-group align-top">
                <button class="btn btn-sm btn-secondary text-white"
                        type="button"
                        (click)="routeToClientDetails(client.id)">
                  <i class="bi bi-search"></i> Szczegóły
                </button>

                <button class="btn btn-sm btn-primary bg-blue text-white mx-1"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#edit-form-modal"
                        (click)="getClient(client.id)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-danger btn-sm text-white" mwlConfirmationPopover
                        [popoverMessage]="popoverTitle"
                        placement="left-top"
                        (confirm)="deleteClientById(client.id)"
                        (cancel)="cancelClicked=true"
                        confirmText="Usuń"
                        cancelText="Anuluj"
                >
                  <i class="bi bi-trash3-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
          <br>
        </table>
      </div>
      <div class="text-center">
        <pagination-controls
          previousLabel=""
          nextLabel=""
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
          [directionLinks]="true"
        >
        </pagination-controls>
      </div>
      <div class="mt-3">
        <h5>Pozycji na stronie:
          <select (change)="handlePageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </h5>
      </div>

      <!-- Create Form Modal -->
      <div class="modal fade" role="dialog" tabindex="-1" id="create-form-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Utwórz nowego klienta</h5>
              <button type="button" class="close" data-bs-dismiss="modal" #closeCreateModalButton>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="py-1">
                <form
                  name="form"
                  (ngSubmit)="f.form.valid && createClient()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="form-floating my-1">
                    <input
                      type="text"
                      class="form-control"
                      name="firstName"
                      id="firstName"
                      placeholder="Podaj swoje imię"
                      [(ngModel)]="client.firstName"
                      required
                      minlength="2"
                      maxlength="100"
                      #firstName="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && firstName.errors }"
                    />
                    <label for="firstName">Imię</label>
                    <div *ngIf="firstName.errors && f.submitted" class="invalid-feedback">
                      <div *ngIf="firstName.errors['required']">Imię jest wymagane.</div>
                      <div *ngIf="firstName.errors['minlength']">Imię musi zawierać od 2 do 100 znaków.
                      </div>
                      <div *ngIf="firstName.errors['maxlength']">Imię musi zawierać od 2 do 100 znaków.
                      </div>
                    </div>
                  </div>
                  <div class="form-floating my-1">
                    <input
                      type="text"
                      class="form-control"
                      name="lastName"
                      id="lastName"
                      placeholder="Podaj nazwisko"
                      [(ngModel)]="client.lastName"
                      required
                      minlength="2"
                      maxlength="150"
                      #lastName="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && lastName.errors }"
                    />
                    <label for="lastName">Nazwisko</label>
                    <div class="invalid-feedback" *ngIf="lastName.errors && f.submitted">
                      <div *ngIf="lastName.errors['required']">Nazwisko jest wymagane.</div>
                      <div *ngIf="lastName.errors['minlength']">Nazwisko musi musi zawierać od 2 do 150
                        znaków.
                      </div>
                      <div *ngIf="lastName.errors['maxlength']">Nazwisko musi musi zawierać od 2 do 150
                        znaków.
                      </div>
                    </div>
                  </div>
                  <div class="form-floating my-1">
                    <input
                      type="text"
                      class="form-control"
                      name="phoneNumber"
                      id="phoneNumber"
                      placeholder="Podaj numer telefonu według schematu: +48111111111"
                      [(ngModel)]="client.phoneNumber"
                      required
                      pattern="^\+\d{11}$"
                      #phoneNumber="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.errors }"
                    />
                    <label for="phoneNumber">Numer telefonu</label>
                    <div class="invalid-feedback" *ngIf="phoneNumber.errors && f.submitted">
                      <div *ngIf="phoneNumber.errors['required']">Numer telefonu jest wymagany.</div>
                      <div *ngIf="phoneNumber.errors['pattern']">Numer telefonu musi składać się ze znaku
                        '+' i 11 cyfr.
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary">Gotowe</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Form Modal -->
      <div class="modal fade" role="dialog" tabindex="-1" id="edit-form-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edytuj dane klienta</h5>
              <button type="button" class="close" data-bs-dismiss="modal" #closeEditModalButton>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="py-1">
                <form
                  name="form"
                  (ngSubmit)="f.form.valid && editClient()"
                  #f="ngForm"
                  novalidate
                >
                  <div class="form-group my-1">
                    <input
                      type="text"
                      class="form-control"
                      name="firstName"
                      id="editFirstName"
                      placeholder="Podaj swoje imię"
                      [(ngModel)]="client.firstName"
                      required
                      minlength="2"
                      maxlength="100"
                      #firstName="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && firstName.errors }"
                    />
                    <div *ngIf="firstName.errors && f.submitted" class="invalid-feedback">
                      <div *ngIf="firstName.errors['required']">Imię jest wymagane.</div>
                      <div *ngIf="firstName.errors['minlength']">Imię musi zawierać od 2 do 100 znaków.
                      </div>
                      <div *ngIf="firstName.errors['maxlength']">Imię musi zawierać od 2 do 100 znaków.
                      </div>
                    </div>
                  </div>
                  <div class="form-group my-1">
                    <label for="lastName">Nazwisko</label>
                    <input
                      type="text"
                      class="form-control"
                      name="lastName"
                      id="editLastName"
                      placeholder="Podaj nazwisko"
                      [(ngModel)]="client.lastName"
                      required
                      minlength="2"
                      maxlength="150"
                      #lastName="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && lastName.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="lastName.errors && f.submitted">
                      <div *ngIf="lastName.errors['required']">Nazwisko jest wymagane.</div>
                      <div *ngIf="lastName.errors['minlength']">Nazwisko musi musi zawierać od 2 do 150
                        znaków.
                      </div>
                      <div *ngIf="lastName.errors['maxlength']">Nazwisko musi musi zawierać od 2 do 150
                        znaków.
                      </div>
                    </div>
                  </div>
                  <div class="form-group my-1">
                    <label for="phoneNumber">Numer telefonu</label>
                    <input
                      type="text"
                      class="form-control"
                      name="phoneNumber"
                      id="editPhoneNumber"
                      placeholder="Podaj numer telefonu według schematu: +48111111111"
                      [(ngModel)]="client.phoneNumber"
                      required
                      pattern="^\+\d{11}$"
                      #phoneNumber="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="phoneNumber.errors && f.submitted">
                      <div *ngIf="phoneNumber.errors['required']">Numer telefonu jest wymagany.</div>
                      <div *ngIf="phoneNumber.errors['pattern']">Numer telefonu musi składać się ze znaku
                        '+' i 11 cyfr.
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary">Gotowe</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
