<br>
<br>
<br>
<div class="row d-flex justify-content-center">
  <div class="col col-lg-5 col-xl-4 col-xxl-3">
    <div class="card card-container p-4">
      <div *ngIf="!isLoggedIn">
        <h1>Zaloguj się</h1>
        <p class="text-muted">Zaloguj się na swoje konto</p>
      </div>
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group my-1">
          <input
            type="text"
            class="form-control"
            name="email"
            id="email"
            placeholder="Email"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
          <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
            Email jest wymagany.
          </div>
        </div>
        <div class="form-group my-1">
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Hasło"
            [(ngModel)]="form.password"
            required
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">Hasło jest wymagane.</div>
          </div>
        </div>
        <div class="form-group my-1">
          <div class="row">
            <div class="col">
              <button class="btn btn-primary px-4">Zaloguj</button>
            </div>
            <div class="col text-end">
              <button type="button" class="btn btn-link px-0">Zapomniałeś hasła?</button>
            </div>
          </div>
        </div>
        <div class="form-group my-3">
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
            Podano niepoprawne dane logowania.
          </div>
        </div>
        <p>Nie masz jeszcze konta? <a routerLink="/zarejestruj">Utwórz nowe konto.</a></p>
      </form>
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Zalogowany jako {{ email }}.
      </div>
    </div>
  </div>
</div>
